@tailwind base;
@tailwind components;
@tailwind utilities;

.containerLayout {
  @apply p-4 lg:ml-72;
}

@font-face {
  font-family: "SFThonburi";
  src: local("SFThonburi"),
    url(/fonts/SF-Thonburi/SFThonburi-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "SFThonburi";
  src: local("SFThonburi"),
    url(/fonts/SF-Thonburi/SFThonburi-Semibold.ttf) format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "SFThonburi";
  src: local("SFThonburi"),
    url(/fonts/SF-Thonburi/SFThonburi-Bold.ttf) format("ttf");
  font-weight: bolder;
}

html,
body {
  font-family: "SFThonburi", sans-serif !important;
}

#app {
  font-family: "SFThonburi", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  font-family: "SFThonburi", sans-serif !important;
}

.v-field__field,
.v-field--variant-outlined .v-field__outline {
  /* border : 1px solid #EEEDF1; */
  border-radius: 8px !important;
}

.v-field__field {
  border: none !important;
}

.v-field {
  border: none !important;
}

.card-border {
  @apply border border-[#EEEDF1] p-2 rounded-lg;
}